body{
    background-color: #EAE0D5;
}
.container{
    display:flex;
    background-color: #554971;
    gap: 10px;
     /* height: 600px;  */
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* flex-flow: row warp- row-reverse; */
}
.item1{
    width: 200px;
    height: 200px;
    background-color: #AA998F;
}